includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        -
            identifiers:
                - constructor.unusedParameter
                - parameter.deprecatedClass
            path: src/Actions/RenderPaymentResponseAction.php
